.bookmarklet-wrapper {
  margin-left: 8px;
}

.bookmarklet,.bookmarklet:active,.bookmarklet:focus,.bookmarklet:hover {
  display: inline-block;
  position: relative;
  cursor: move;
  color: #32373c;
  background: #e5e5e5;
  border-radius: 5px;
  border: 1px solid #b4b9be;
  text-decoration: none;
}

.bookmarklet:after {
  content: "";
  width: 70%;
  height: 55%;
  z-index: -1;
  position: absolute;
  right: 10px;
  bottom: 9px;
  background: 0 0;
  transform: skew(20deg) rotate(6deg);
  box-shadow: 0 10px 8px rgba(0,0,0,.6);
}

.bookmarklet:hover:after {
  transform: skew(20deg) rotate(9deg);
  box-shadow: 0 10px 8px rgba(0,0,0,.7);
}

.bookmarklet span {
  display: inline-block;
  padding: 6px 12px 8px 9px;
}
